@import 'reset';

main {
	width: 600px;
	height: 350px;
	border: 1px solid #555;
	margin: 100px auto;
	position: relative;

	ul {
		width: 100%;
		height: 50px;
		display: flex;

		li {
			flex: 1;
			height: 100%;
			background: #555;
			display: flex;
			justify-content: center;
			align-items: center;
			font: bold 0.8rem/1 'arial';
			color: #bbb;
			cursor: pointer;

			&.on {
				background: #fff;
				color: #555;
			}
		}
	}

	section {
		article {
			width: 100%;
			height: 300px;
			position: absolute;
			top: 50px;
			left: 0px;
			display: none;
			justify-content: center;
			align-items: center;
			font: 3rem/1 'arial';
			color: #555;

			&.on {
				display: flex;
			}
		}
	}
}
